<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUDLFT Registration</title>
</head>
<body>
    <h1>Welcome to the GUDLFT Registration Portal!</h1>
    {% with messages = get_flashed_messages()%}
            {% if messages %}
                <ul>
               {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
               </ul>
            {% endif%}

       {% if not 'username' in session %}
               Please enter your secretary email to continue:
                <form action="login" method="post">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id=""/>
                    <button type="submit">Enter</button>
                </form>
        {% else %}
           <h2>Welcome {{ session['username'] }}!</h2>
           <ul>
            <li><a href="{{url_for('logout')}}">Logout</a></li>
            <li><a href="{{url_for('showSummary')}}">Show summary</a></li>
            <li><a href="{{url_for('display_clubs')}}">Display clubs</a></li>
           </ul>

        {% endif %}
  {%endwith%}
</body>
</html>